<div class="section">
    <div class="row pt-4" >
        <div class="col-12 col-md-6">
            <img id="first-image" class="mx-auto d-block" src="./../../../assets/img/img1.svg" alt="">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="mt-4">Análisis de seguridad por zonas</h2>
            <p class="mt-4">RedZone es una aplicación web que te permite realizar denuncias de forma rápida y segura. En nuestra etapa inicial, contamos con programas que se enfocan en comprobar la veracidad de la denuncia, comunicarnos directamente con la base de datos de crímenes de la Policía Nacional y dar seguimiento a tu denuncia 24 horas al día. </p>
            <button type="button" routerLink="/report"  class="btn btn-first mt-3 mr-3 ">Denunciar</button>
            <button type="button" router class="btn btn-second mt-3 mb-md-0 mb-4">Ver Reportes</button>
        </div>
    </div>
    <div class="row pt-5" id="second-row">
        <div class="col-12 col-md-6">
            <h2 class="mt-5">Ayúdanos a mejorar el entorno en el que vivimos </h2>
            <p class="mt-4">En 5 años esperamos tener cobertura en distintas partes del país; además de esto, queremos expandir los servicios que ofrecemos a nuestros usuarios, logrando que la aplicación opere en tiempo real y dando mayores garantías de veracidad de la información brindada, mediante el uso de analítica de datos. </p>
        </div>
        <div class="col-12 col-md-6">
            <img id="second-image" class="mx-auto d-block mt-4 mb-4" src="./../../../assets/img/grafico@2x.png" alt="">
        </div>
    </div>
</div>